APP_NAME="راع الطيب"
APP_ENV=production
APP_DEBUG=false
APP_KEY=base64:tyG7bax2yHGe36CnoHUgOZ2U5gfDP9TEplcprCm7Fqo=
APP_URL=https://YOUR_RAILWAY_URL.railway.app
APP_TIMEZONE=Asia/Riyadh

LOG_CHANNEL=stderr
LOG_LEVEL=error

DB_CONNECTION=sqlite
DB_DATABASE=/app/database/database.sqlite

SESSION_DRIVER=cookie
CACHE_STORE=array
QUEUE_CONNECTION=sync
